
#top-section {
    background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)), url('eduford_img/banner.png');
    background-size: cover;
    background-position: center;
    min-height: 100vh;
      display: flex;
     flex-direction: column;
}

* {  /* Reset default styles */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

nav {
    padding: 2% 6%;
    
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#logo-section img {
    width: 150px;
    margin: 10px 0;
    margin-left: 35px;
    
}

#nav-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 28px;
}

#nav-bar a {
    text-decoration: none;
    color: #fff;
    font-weight: 500;
    font-size: 0.9rem;
    letter-spacing: 1px;
     position: relative;
}

#nav-bar a::after {
   content: "";
    position: absolute;
    width: 0;
    height: 2px;
    background: orange;
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%);
    transition: width 0.3s ease;
    
}
#nav-bar a:hover::after {
    width: 100%;
}

#hero {
    flex: 0.75;   /* Allow the hero section to take up remaining space */
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

#hero h1 {
    font-size: 62px;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
    color: #fff;
    margin-bottom: 20px;
    font-weight: bold;
}

#hero p {
    font-size: 1rem;
     font-weight: 300;
    line-height: 1.6;
    color: #dcdcdc;    /* slightly lighter color for better readability */
    max-width: 600px;
    margin-bottom: 40px;
}

.button1 {
    background-color: transparent;
    color: #fff;
    padding: 15px 40px;
    border: 1px solid #fff;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    position: relative;
    transition: transform 0.3s ease, background-color 0.3s ease;
}

.button1::before,
.button1::after {
    content: "";
    position: absolute;
    top: 50%;
    width: 20px;
    height: 1px;
    background: #fff;
}

.button1::before {
    left: -30px;
}

.button1::after {
    right: -30px;
}

.button1:hover {
    transform: scale(1.05);
    background-color: rgba(255, 255, 255, 0.1);
}